@import "../css/icons.css";
@media (min-width: 1281px) and (max-width: 1920px) {
  [class*="tvz-col-1"] {
    width: 66px;
  }
  [class*="tvz-col-2"] {
    width: 162px;
  }
  [class*="tvz-col-3"] {
    width: 258px;
  }
  [class*="tvz-col-4"] {
    width: 354px;
  }
  [class*="tvz-col-5"] {
    width: 450px;
  }
  [class*="tvz-col-6"] {
    width: 546px;
  }
  [class*="tvz-col-7"] {
    width: 642px;
  }
  [class*="tvz-col-8"] {
    width: 738px;
  }
  [class*="tvz-col-9"] {
    width: 834px;
  }
  [class*="tvz-col-10"] {
    width: 930px;
  }
  [class*="tvz-col-11"] {
    width: 1026px;
  }
  [class*="tvz-col-12"] {
    width: 1122px;
  }
  [class*="tvz-col-13"] {
    width: 1218px;
  }
  [class*="tvz-col-14"] {
    width: 1314px;
  }
  [class*="tvz-col-15"] {
    width: 1410px;
  }
  [class*="tvz-col-16"] {
    width: 1506px;
  }
  [class*="tvz-col-17"] {
    width: 1602px;
  }
  [class*="tvz-col-18"] {
    width: 1698px;
  }
  [class*="tvz-col-19"] {
    width: 1794px;
  }
  [class*="tvz-col-20"] {
    width: 1890px;
  }
}
@media (max-width: 1280px) {
  [class*="tvz-col-1"] {
    width: 44px;
  }
  [class*="tvz-col-2"] {
    width: 108px;
  }
  [class*="tvz-col-3"] {
    width: 172px;
  }
  [class*="tvz-col-4"] {
    width: 236px;
  }
  [class*="tvz-col-5"] {
    width: 300px;
  }
  [class*="tvz-col-6"] {
    width: 364px;
  }
  [class*="tvz-col-7"] {
    width: 428px;
  }
  [class*="tvz-col-8"] {
    width: 492px;
  }
  [class*="tvz-col-9"] {
    width: 556px;
  }
  [class*="tvz-col-10"] {
    width: 620px;
  }
  [class*="tvz-col-11"] {
    width: 684px;
  }
  [class*="tvz-col-12"] {
    width: 748px;
  }
  [class*="tvz-col-13"] {
    width: 812px;
  }
  [class*="tvz-col-14"] {
    width: 876px;
  }
  [class*="tvz-col-15"] {
    width: 940px;
  }
  [class*="tvz-col-16"] {
    width: 1004px;
  }
  [class*="tvz-col-17"] {
    width: 1068px;
  }
  [class*="tvz-col-18"] {
    width: 1132px;
  }
  [class*="tvz-col-19"] {
    width: 1196px;
  }
  [class*="tvz-col-20"] {
    width: 1260px;
  }
}
.carousel_main > .spinner_bounce {
  top: 196px;
  left: 0;
  right: 0;
}
.carousel_main.tvz-loading > .spinner_bounce {
  display: block;
}
.carousel__wrapper {
  position: relative;
}
.carousel__wrapper:before,
.carousel__wrapper:after {
  content: " ";
  display: table;
}
.carousel__wrapper:after {
  clear: both;
}
.carousel__overflow {
  float: left;
  overflow: hidden;
  position: relative;
}
.carousel__inner {
  position: relative;
  margin: 0px -15px;
  padding: 0 15px;
}
.carousel__inner:before,
.carousel__inner:after {
  content: " ";
  display: table;
}
.carousel__inner:after {
  clear: both;
}
.carousel__inner_v {
  margin: 0;
  padding: 0;
}
.carousel__inner_v > .carousel__item {
  float: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 34px;
}
.carousel__item {
  position: relative;
  float: left;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.carousel .row {
  margin-bottom: 0;
}
.carousel .clip-description {
  height: 182px;
  width: 1170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel .carousel__category-title {
  margin-bottom: 28px;
  padding-left: 74px;
}
.carousel__ctrl {
  position: absolute;
  text-align: center;
}
.carousel__ctrl_left,
.carousel__ctrl_right {
  width: 121px;
  height: 165px;
  top: 186px;
}
.carousel__ctrl_left .tvz-icon,
.carousel__ctrl_right .tvz-icon {
  font-size: 70px;
  line-height: 165px;
}
.carousel__ctrl_left {
  left: -81px;
  background: linear-gradient(to left, rgba(17, 17, 17, 0), #111111);
}
.carousel__ctrl_right {
  right: -81px;
  background: linear-gradient(to right, rgba(17, 17, 17, 0), #111111);
}
.carousel__ctrl_up,
.carousel__ctrl_down {
  width: 165px;
  height: 121px;
  left: 50%;
  margin-left: -96px;
}
.carousel__ctrl_up .tvz-icon,
.carousel__ctrl_down .tvz-icon {
  font-size: 28px;
  line-height: 121px;
}
.carousel__ctrl_up {
  top: 86px;
  background: linear-gradient(to top, rgba(17, 17, 17, 0), #111111);
}
.carousel__ctrl_down {
  top: 502px;
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0), #111111);
}
@media (min-width: 1281px) and (max-width: 1920px) {
  .carousel_main {
    padding-top: 210px;
  }
  .carousel__item {
    padding: 0 15px;
  }
  .clip-description {
    padding: 15px 15px 15px 74px;
  }
}
@media (max-width: 1280px) {
  .carousel_main {
    padding-top: 50px;
  }
  .carousel__item {
    padding: 0 10px;
  }
  .carousel .clip-description {
    padding: 15px 15px 15px 74px;
  }
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot');
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg#Circe') format('svg');
  font-weight: 300;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  font-family: 'Circe', Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  font-size: 24px;
  color: #f1f1f1;
  min-height: 700px;
}
.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(17, 17, 17, 0), #111111), linear-gradient(#313b49, #313b49);
}
.page-content {
  height: 100%;
  padding: 64px 81px 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer {
  position: absolute;
  bottom: 52px;
  right: 35px;
}
.footer > * {
  display: inline-block;
  vertical-align: middle;
}
.company-logo {
  line-height: 0;
  font-size: 23px;
}
.tv-ctrl-info {
  margin-right: 45px;
  padding-top: 9px;
}
.tv-ctrl-info__item {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 46px;
  margin-left: 30px;
}
.tv-ctrl-info__item:first-child {
  margin-left: 0;
}
.tv-ctrl-info__item:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: 0;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.tv-ctrl-info__item_color-red:after {
  background-color: #d32f2f;
}
.tv-ctrl-info__item_color-blue:after {
  background-color: #1976d2;
}
.tv-ctrl-info__item .text {
  text-transform: uppercase;
}
.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #111111;
  z-index: 1000;
}
.splash:before {
  content: '';
  height: 100%;
  width: 0;
  background: none;
}
.splash:before,
.splash > * {
  display: inline-block;
  vertical-align: middle;
}
.splash__logo {
  display: inline-block;
  margin: 102px auto 30px;
}
.splash__logo .tvz-icon {
  font-size: 75px;
}
.splash__logo .tvz-icon-logo-tv {
  color: #016eb4;
}
.splash__logo .tvz-icon-logo-zavr {
  color: #4caa06;
}
.splash__title {
  color: #f1f1f1;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 1px;
  margin: 0;
}
@media (max-width: 1280px) {
  .splash__logo {
    margin: 80px auto 60px;
  }
}
* {
  outline: none;
}
.tvz-hide {
  display: none !important;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
[class*="tvz-col-"] {
  float: left;
  min-height: 24px;
}
.clip-card {
  position: relative;
  background-color: #313b49;
}
.clip-card .spinner {
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -10px;
}
.clip-card.tvz-loading .spinner {
  display: block;
}
@media (min-width: 1281px) and (max-width: 1920px) {
  .row {
    margin: 0 -15px 30px;
  }
  [class*="tvz-col-"] {
    padding: 0 15px;
  }
  .clip-card {
    height: 387px;
  }
}
@media (max-width: 1280px) {
  .row {
    margin: 0 -10px 20px;
  }
  [class*="tvz-col-"] {
    padding: 0 10px;
  }
  .clip-card {
    height: 258px;
  }
}
.btn {
  display: inline-block;
}
.btn-back {
  width: 44px;
  height: 44px;
  margin-right: 44px;
  text-align: center;
  border: 2px solid #f1f1f1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-back .tvz-icon {
  vertical-align: middle;
  font-size: 18px;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 46px;
  line-height: 60px;
  margin: 0 0 60px;
}
.spinner {
  margin: auto;
}
.spinner.spinner_bounce {
  position: absolute;
  display: none;
  width: 63px;
  height: 19px;
  line-height: 0;
}
.spinner.spinner_bounce_css {
  position: absolute;
  height: 12px;
  width: 36px;
  font-size: 0;
  display: none;
}
.spinner.spinner_bounce_css .spinner__item {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #5a6370;
  -webkit-animation: spinBounce 1s infinite ease-in-out;
  -o-animation: spinBounce 1s infinite ease-in-out;
  animation: spinBounce 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner.spinner_bounce_css .spinner__item:first-child {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner.spinner_bounce_css .spinner__item:nth-child(2n) {
  margin: 0 6px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@keyframes spinBounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
}
