@clipCardHeightHD: 258px;
@clipCardHeightFHD: @clipCardHeightHD * @res;


* {
  outline: none;
}

.tvz-hide {
  display: none !important;
}

.page-content {

}

.row {
  .clearfix;
}

[class*="tvz-col-"] {
  float: left;
  //padding: 0 15px;
  min-height: 24px;
  //.box-sizing(border-box);
}

.clip-card {
  position: relative;
  //height: 387px;
  background-color: @charcoalGrey;

  .spinner {
    top: 50%;
    left: 50%;
    margin-left: -31px;
    margin-top: -10px;
  }

  &.tvz-loading {
    .spinner {display: block;}
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .row {
    margin: 0 -15px 30px;
  }

  [class*="tvz-col-"] {
    padding: 0 15px;
  }

  .clip-card {
    height: @clipCardHeightFHD;
  }
}

@media (max-width: 1280px) {
  .row {
    margin: 0 -10px 20px;
  }

  [class*="tvz-col-"] {
    padding: 0 10px;
  }

  .clip-card {
    height: @clipCardHeightHD;
  }
}