.circle(@size) {
  .border-radius(50%);
  height: @size;
  width: @size;
}
.spinner {
  margin: auto;

  &.spinner_splash {
    @size: 111px;
    .circle(@size);
    background: url("../img/splash/loader.png") no-repeat 50% 50%;
    .animation(0.8s spin linear infinite);
  }
}

@keyframes spin {
  from {
    .rotate(0deg);
  }

  to {
    .rotate(-360deg);
  }
}